In [1]:
from src.data import load_jsonl_part

item_df = load_jsonl_part('../data/processed/cleaned_items_df.jsonl', nrows=500000)
review_df = load_jsonl_part('../data/processed/cleaned_reviews_df.jsonl', nrows=5000000)

In [2]:
item_df.head()

,main_category,title,average_rating,rating_number,features,description,price,store,categories,details,parent_asin,subtitle,author
0,All Beauty,"Howard LC0008 Leather Conditioner, 8-Ounce (4-...",4.8,10,[],[],NaN,Howard Products,[],{'Package Dimensions': '7.1 x 5.5 x 3 inches; ...,B01CUPMQZE,NaN,NaN
1,All Beauty,Yes to Tomatoes Detoxifying Charcoal Cleanser ...,4.5,3,[],[],NaN,Yes To,[],"{'Item Form': 'Powder', 'Skin Type': 'Acne Pro...",B076WQZGPM,NaN,NaN
2,All Beauty,Eye Patch Black Adult with Tie Band (6 Per Pack),4.4,26,[],[],NaN,Levine Health Products,[],{'Manufacturer': 'Levine Health Products'},B000B658RI,NaN,NaN
3,All Beauty,"Tattoo Eyebrow Stickers, Waterproof Eyebrow, 4...",3.1,102,[],[],NaN,Cherioll,[],"{'Brand': 'Cherioll', 'Item Form': 'Powder', '...",B088FKY3VD,NaN,NaN
4,All Beauty,Precision Plunger Bars for Cartridge Grips – 9...,4.3,7,"[Material: 304 Stainless Steel; Brass tip, Len...",[The Precision Plunger Bars are designed to wo...,NaN,Precision,[],{'UPC': '644287689178'},B07NGFDN6G,NaN,NaN

In [3]:
# Get the parent_asin for the item with the highest number of ratings
# parent_asin = B00UXG4WR8
max_idx = item_df['rating_number'].idxmax()
print(item_df.loc[max_idx])
print(item_df.loc[max_idx, 'parent_asin'])

main_category                                            Appliances
title             everydrop by Whirlpool Ice and Water Refrigera...
average_rating                                                  4.7
rating_number                                                 90203
features          [Make sure this fits by entering your refriger...
description       [Certified to reduce 99% of lead as well as ot...
price                                                         53.99
store                                        EveryDrop by Whirlpool
categories        [Appliances, Parts & Accessories, Refrigerator...
details           {'Material': 'Plastic', 'Product Dimensions': ...
parent_asin                                              B00UXG4WR8
subtitle                                                       None
author                                                         None
Name: 179806, dtype: object
B00UXG4WR8

In [4]:
len(review_df[review_df['parent_asin'] == 'B00UXG4WR8'])
review_df[review_df['parent_asin'] == 'B00UXG4WR8']

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
694493,5,B00UXG4WR8,B00UXG4WR8,AFSJGCYOYHJGG2VBYGB7WLKHQ37A,2018-04-19 13:13:18.309,0,True
694598,5,B00UXG4WR8,B00UXG4WR8,AEM54G6GVSBCFVMEWUKELLDH6CEQ,2021-08-16 22:38:55.964,0,True
694909,5,B00UXG4WR8,B00UXG4WR8,AGKSSNLDIG5HY5FXYVE6UVXKVDYQ,2020-12-23 19:18:46.680,0,True
695022,5,B00UXG4WR8,B00UXG4WR8,AHU2GG5RF6YAEWUFNLH3QH5RHDNQ,2020-01-09 15:48:39.341,0,True
695978,2,B00UXG4WR8,B00UXG4WR8,AGW2YFQE4AOEHCE747ESDJYULJMA,2022-03-12 23:28:36.573,0,True
...,...,...,...,...,...,...,...
2798908,1,B00UXG4WR8,B00UXG4WR8,AGRUOYDGGRXUBMCG7DQKOTIV4PNA,2017-07-26 16:16:33.890,0,True
2799003,5,B00UXG4WR8,B00UXG4WR8,AGT7DE7EATCGZL4AO2GIEO7JA62A,2018-10-18 19:20:17.982,0,True
2799268,5,B00UXG4WR8,B00UXG4WR8,AEDL4P5GG6LWVFUCQZPS7YK56RCQ,2023-07-02 10:40:24.419,0,True
2799674,4,B00UXG4WR8,B00UXG4WR8,AHEGMOPGALEKZJSAXWDTW7Y27GNA,2018-01-29 18:28:43.299,0,True
2799888,1,B00UXG4WR8,B00UXG4WR8,AFW7LFTZW2ZI5N7RRCPA5KWZ6EWQ,2022-10-04 01:02:11.147,0,True

In [5]:
review_df[review_df['user_id'] == 'AGW2YFQE4AOEHCE747ESDJYULJMA']

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
1472,3,B01LXQTVNE,B01LXQTVNE,AGW2YFQE4AOEHCE747ESDJYULJMA,2018-06-05 20:07:22.936,0,True
1473,5,B00N5IBEAY,B0CDH5TH82,AGW2YFQE4AOEHCE747ESDJYULJMA,2017-07-07 06:14:36.609,9,True
1474,5,B004BS09WG,B004BS09WG,AGW2YFQE4AOEHCE747ESDJYULJMA,2015-10-12 01:58:31.000,1,True
695978,2,B00UXG4WR8,B00UXG4WR8,AGW2YFQE4AOEHCE747ESDJYULJMA,2022-03-12 23:28:36.573,0,True
695979,5,B015ZLG6WY,B015ZLG6WY,AGW2YFQE4AOEHCE747ESDJYULJMA,2017-01-09 02:16:30.000,0,True

In [6]:
# Find the top 5 users with the most reviews
top5_users = (
    review_df.loc[review_df["verified_purchase"] != False, "user_id"]
    .value_counts()
    .head(5)
    .rename_axis("user_id")
    .reset_index(name="review_count")
)

top5_users

                        user_id  review_count
0  AHXNZ75VJUMZ34ASD2BFHTPRD6BA           902
1  AEB3334PRZKEQMRTCM7NJUDEV6MQ           731
2  AGBHQOY26W3ABOYJ5LTFC7SYLUDQ           706
3  AH3BPETQEITQTAXKTMNSVEW6PZ3A           684
4  AHDMRZOXB2OB5PBKVP6AVDUKFLBQ           662

In [7]:
review_df[review_df['user_id'] == 'AHXNZ75VJUMZ34ASD2BFHTPRD6BA']

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
4258392,5,B0B6XVT8FL,B0B6XVT8FL,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-15 22:40:29.536,0,False
4258393,5,B0BT23STVF,B0BT23STVF,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-04 03:52:06.788,0,False
4258394,5,B0BBPLPF7R,B0BBPLPF7R,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-02 02:48:11.306,0,True
4258395,4,B09GLSJS56,B09GLSJS56,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-02-09 17:31:49.965,0,True
4258396,4,B08JF5K743,B08JF5K743,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-02-08 17:28:34.261,0,True
...,...,...,...,...,...,...,...
4260110,5,B00000IWNY,B00000IWNY,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-12-04 14:50:59.000,2,False
4260111,4,B00003ZL38,B00003ZL38,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-05-26 13:39:02.000,12,False
4260112,5,B00002067T,B00002067T,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-01-19 19:18:52.000,10,False
4260113,5,B00001T3G0,B00001T3G0,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-01-19 19:00:29.000,2,False
4260114,5,B00000I5JR,B00000I5JR,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,1999-06-30 12:32:27.000,6,False

Filter `review_df` to `user_id == 'AHXNZ75VJUMZ34ASD2BFHTPRD6BA'`, sort by `timestamp` descending, and display the most recent 6 reviews.

In [8]:
import pandas as pd

user_id = "AHXNZ75VJUMZ34ASD2BFHTPRD6BA"
if not pd.api.types.is_datetime64_any_dtype(review_df["timestamp"]):
    review_df["timestamp"] = pd.to_datetime(review_df["timestamp"],
                                            errors="coerce")
last_6_reviews = (
    review_df.loc[review_df["user_id"] == user_id]
    .sort_values("timestamp", ascending=False)
    .head(6)
)
last_6_reviews

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
4258392,5,B0B6XVT8FL,B0B6XVT8FL,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-15 22:40:29.536,0,False
4258393,5,B0BT23STVF,B0BT23STVF,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-04 03:52:06.788,0,False
4258394,5,B0BBPLPF7R,B0BBPLPF7R,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-02 02:48:11.306,0,True
4258395,4,B09GLSJS56,B09GLSJS56,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-02-09 17:31:49.965,0,True
4258396,4,B08JF5K743,B08JF5K743,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-02-08 17:28:34.261,0,True
4258397,3,B07Y4MSM67,B07Y4MSM67,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-01-29 22:31:20.262,0,True

In [10]:
# Task: Build a dataframe of items corresponding to the parent_asin values in `last_6_reviews`.

parent_asins = (
    last_6_reviews["parent_asin"]
    .dropna()
    .astype(str)
    .unique()
)

items_linked_to_last_6_reviews = (
    item_df.loc[item_df["parent_asin"].astype(str).isin(parent_asins)]
    .merge(
        last_6_reviews[
            ["parent_asin", "asin", "rating", "timestamp", "verified_purchase",
             "helpful_vote"]],
        on="parent_asin",
        how="left",
        suffixes=("_item", "_review"),
    )
    .sort_values("timestamp", ascending=False)
)

items_linked_to_last_6_reviews

,main_category,title,average_rating,rating_number,features,description,price,store,categories,details,parent_asin,subtitle,author,asin,rating,timestamp,verified_purchase,helpful_vote
0,Digital Music,Vandals - Red,4.8,47,[],[],NaN,Callum Beattie (Artist) Format: Vinyl,"[CDs & Vinyl, Rock]",{'Package Dimensions': '13.89 x 12.68 x 0.91 i...,B0B6XVT8FL,None,None,B0B6XVT8FL,5,2023-03-15 22:40:29.536,False,0
4,Digital Music,Teenage Dixie,5.0,3,[],[Teenage Dixie is a collection of stories with...,14.98,Muscadine Bloodline (Artist) Format: Audio CD,"[CDs & Vinyl, Country]",{'Package Dimensions': '5.63 x 4.88 x 0.47 inc...,B0BT23STVF,None,None,B0BT23STVF,5,2023-03-04 03:52:06.788,False,0
3,Digital Music,Best I Could Do At The Time,5.0,1,[],"[Intending to write another EP in 2020, some p...",2.28,Joe Hicks (Artist) Format: Audio CD,"[CDs & Vinyl, Rock]",{'Package Dimensions': '5.47 x 4.88 x 0.28 inc...,B0BBPLPF7R,None,None,B0BBPLPF7R,5,2023-03-02 02:48:11.306,True,0
1,Digital Music,We Imagined An Ending,4.5,2,[],"[Matt the Electrician's new studio album, We I...",13.99,Matt the Electrician (Artist) Format: Audi...,"[CDs & Vinyl, Country, Americana]",{'Product Dimensions': '4.92 x 5.51 x 0.39 inc...,B09GLSJS56,None,None,B09GLSJS56,4,2023-02-09 17:31:49.965,True,0
2,Digital Music,John Lennon In Jazz / Various,4.0,18,[],[2020 collection. Jazzed up versions of some o...,33.23,Various Artists (Artist) Format: Audio CD,"[CDs & Vinyl, Jazz]",{'Product Dimensions': '4.92 x 5.71 x 0.2 inch...,B08JF5K743,None,None,B08JF5K743,4,2023-02-08 17:28:34.261,True,0
5,Digital Music,Bookish,3.0,1,[],[],30.20,Annie Gallup (Artist) Format: Audio CD,"[CDs & Vinyl, Folk]",{'Package Dimensions': '5.38 x 4.89 x 0.13 inc...,B07Y4MSM67,None,None,B07Y4MSM67,3,2023-01-29 22:31:20.262,True,0

In [16]:
# Python
import pandas as pd

user_id = "AHXNZ75VJUMZ34ASD2BFHTPRD6BA"

review_df = review_df.copy()
review_df["timestamp"] = pd.to_datetime(review_df["timestamp"], errors="coerce")

user_reviews = (
    review_df.loc[review_df["user_id"] == user_id]
    .dropna(subset=["timestamp", "parent_asin"])
    .sort_values("timestamp", ascending=False)
)

last_6 = user_reviews.head(6).reset_index(drop=True)

held_out_latest = last_6.iloc[0].copy()   # keep in memory
context_5 = last_6.iloc[1:6].copy()       # use for prediction

true_next_item = held_out_latest["parent_asin"]
context_items = list(context_5.sort_values("timestamp")["parent_asin"])  # oldest -> newest

true_next_item, context_items

('B0B6XVT8FL',
 ['B07Y4MSM67', 'B08JF5K743', 'B09GLSJS56', 'B0BBPLPF7R', 'B0BT23STVF'])

In [17]:
# Python
import numpy as np

df = review_df.dropna(subset=["user_id", "timestamp", "parent_asin"]).copy()
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
df = df.dropna(subset=["timestamp"]).sort_values(["user_id", "timestamp"])

df["next_parent_asin"] = df.groupby("user_id")["parent_asin"].shift(-1)

pairs = df.dropna(subset=["next_parent_asin"])[["parent_asin", "next_parent_asin"]]
pairs.columns = ["prev", "next"]

trans_counts = (
    pairs.value_counts()
    .rename("count")
    .reset_index()
)

# Optional: overall popularity for backoff
popularity = (
    df["parent_asin"].value_counts()
    .rename_axis("parent_asin")
    .reset_index(name="pop_count")
)

In [18]:
# Python
from collections import defaultdict

def build_next_map(trans_counts_df):
    # next_map[prev][next] = count
    next_map = defaultdict(dict)
    for row in trans_counts_df.itertuples(index=False):
        next_map[row.prev][row.next] = int(row.count)
    return next_map

next_map = build_next_map(trans_counts)

def predict_next_topk(
    context_items,
    next_map,
    popularity_df,
    k=10,
    recency_weights=None,      # list of len(context_items), aligned oldest->newest
    exclude_seen=True,
    min_candidates=200         # if too few candidates from transitions, fill with popularity
):
    if recency_weights is None:
        # default: linearly increasing weights (newest matters most)
        recency_weights = np.linspace(0.2, 1.0, num=len(context_items)).tolist()

    scores = defaultdict(float)

    seen = set(context_items) if exclude_seen else set()

    for prev, w in zip(context_items, recency_weights):
        for nxt, cnt in next_map.get(prev, {}).items():
            if nxt in seen:
                continue
            scores[nxt] += w * cnt

    # Rank by transition score
    ranked = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    preds = [asin for asin, _ in ranked[:k]]

    # Backoff: if we don't have enough candidates, fill with popular items
    if len(ranked) < min_candidates or len(preds) < k:
        pop_list = popularity_df["parent_asin"].tolist()
        for asin in pop_list:
            if exclude_seen and asin in seen:
                continue
            if asin in scores:          # already considered
                continue
            preds.append(asin)
            if len(preds) >= k:
                break

    return preds

top_k = 10
preds = predict_next_topk(
    context_items=context_items,   # oldest -> newest
    next_map=next_map,
    popularity_df=popularity,
    k=top_k,
    exclude_seen=True
)

print("Top-k predictions:", preds)
print("True held-out next item:", true_next_item)
print("Hit@k:", true_next_item in preds)

Top-k predictions: ['B0B6XVT8FL', 'B0B3DB5HTC', 'B07RNJY499', 'B07WTXWC32', 'B08YBGCNHP', 'B000AST3AK', 'B01KJ2FVFW', 'B00UXG4WR8', 'B000DLB2FI', 'B081KSD3BK']
True held-out next item: B0B6XVT8FL
Hit@k: True