In [1]:
from src.data import load_jsonl_part

item_df = load_jsonl_part('../data/processed/cleaned_items_df.jsonl', nrows=500000)
review_df = load_jsonl_part('../data/processed/cleaned_reviews_df.jsonl', nrows=5000000)

In [2]:
item_df.head()

,main_category,title,average_rating,rating_number,features,description,price,store,categories,details,parent_asin,subtitle,author
0,All Beauty,"Howard LC0008 Leather Conditioner, 8-Ounce (4-...",4.8,10,[],[],NaN,Howard Products,[],{'Package Dimensions': '7.1 x 5.5 x 3 inches; ...,B01CUPMQZE,NaN,NaN
1,All Beauty,Yes to Tomatoes Detoxifying Charcoal Cleanser ...,4.5,3,[],[],NaN,Yes To,[],"{'Item Form': 'Powder', 'Skin Type': 'Acne Pro...",B076WQZGPM,NaN,NaN
2,All Beauty,Eye Patch Black Adult with Tie Band (6 Per Pack),4.4,26,[],[],NaN,Levine Health Products,[],{'Manufacturer': 'Levine Health Products'},B000B658RI,NaN,NaN
3,All Beauty,"Tattoo Eyebrow Stickers, Waterproof Eyebrow, 4...",3.1,102,[],[],NaN,Cherioll,[],"{'Brand': 'Cherioll', 'Item Form': 'Powder', '...",B088FKY3VD,NaN,NaN
4,All Beauty,Precision Plunger Bars for Cartridge Grips – 9...,4.3,7,"[Material: 304 Stainless Steel; Brass tip, Len...",[The Precision Plunger Bars are designed to wo...,NaN,Precision,[],{'UPC': '644287689178'},B07NGFDN6G,NaN,NaN

In [3]:
# Get the parent_asin for the item with the highest number of ratings
# parent_asin = B00UXG4WR8
max_idx = item_df['rating_number'].idxmax()
print(item_df.loc[max_idx])
print(item_df.loc[max_idx, 'parent_asin'])

main_category                                            Appliances
title             everydrop by Whirlpool Ice and Water Refrigera...
average_rating                                                  4.7
rating_number                                                 90203
features          [Make sure this fits by entering your refriger...
description       [Certified to reduce 99% of lead as well as ot...
price                                                         53.99
store                                        EveryDrop by Whirlpool
categories        [Appliances, Parts & Accessories, Refrigerator...
details           {'Material': 'Plastic', 'Product Dimensions': ...
parent_asin                                              B00UXG4WR8
subtitle                                                       None
author                                                         None
Name: 179806, dtype: object
B00UXG4WR8

In [4]:
len(review_df[review_df['parent_asin'] == 'B00UXG4WR8'])
review_df[review_df['parent_asin'] == 'B00UXG4WR8']

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
694493,5,B00UXG4WR8,B00UXG4WR8,AFSJGCYOYHJGG2VBYGB7WLKHQ37A,2018-04-19 13:13:18.309,0,True
694598,5,B00UXG4WR8,B00UXG4WR8,AEM54G6GVSBCFVMEWUKELLDH6CEQ,2021-08-16 22:38:55.964,0,True
694909,5,B00UXG4WR8,B00UXG4WR8,AGKSSNLDIG5HY5FXYVE6UVXKVDYQ,2020-12-23 19:18:46.680,0,True
695022,5,B00UXG4WR8,B00UXG4WR8,AHU2GG5RF6YAEWUFNLH3QH5RHDNQ,2020-01-09 15:48:39.341,0,True
695978,2,B00UXG4WR8,B00UXG4WR8,AGW2YFQE4AOEHCE747ESDJYULJMA,2022-03-12 23:28:36.573,0,True
...,...,...,...,...,...,...,...
2798908,1,B00UXG4WR8,B00UXG4WR8,AGRUOYDGGRXUBMCG7DQKOTIV4PNA,2017-07-26 16:16:33.890,0,True
2799003,5,B00UXG4WR8,B00UXG4WR8,AGT7DE7EATCGZL4AO2GIEO7JA62A,2018-10-18 19:20:17.982,0,True
2799268,5,B00UXG4WR8,B00UXG4WR8,AEDL4P5GG6LWVFUCQZPS7YK56RCQ,2023-07-02 10:40:24.419,0,True
2799674,4,B00UXG4WR8,B00UXG4WR8,AHEGMOPGALEKZJSAXWDTW7Y27GNA,2018-01-29 18:28:43.299,0,True
2799888,1,B00UXG4WR8,B00UXG4WR8,AFW7LFTZW2ZI5N7RRCPA5KWZ6EWQ,2022-10-04 01:02:11.147,0,True

In [5]:
review_df[review_df['user_id'] == 'AGW2YFQE4AOEHCE747ESDJYULJMA']

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
1472,3,B01LXQTVNE,B01LXQTVNE,AGW2YFQE4AOEHCE747ESDJYULJMA,2018-06-05 20:07:22.936,0,True
1473,5,B00N5IBEAY,B0CDH5TH82,AGW2YFQE4AOEHCE747ESDJYULJMA,2017-07-07 06:14:36.609,9,True
1474,5,B004BS09WG,B004BS09WG,AGW2YFQE4AOEHCE747ESDJYULJMA,2015-10-12 01:58:31.000,1,True
695978,2,B00UXG4WR8,B00UXG4WR8,AGW2YFQE4AOEHCE747ESDJYULJMA,2022-03-12 23:28:36.573,0,True
695979,5,B015ZLG6WY,B015ZLG6WY,AGW2YFQE4AOEHCE747ESDJYULJMA,2017-01-09 02:16:30.000,0,True

In [6]:
# Top 5 users with the most reviews
top5_users = (
    review_df.loc[review_df["verified_purchase"] != False, "user_id"]
    .value_counts()
    .head(5)
    .rename_axis("user_id")
    .reset_index(name="review_count")
)

top5_users

                        user_id  review_count
0  AHXNZ75VJUMZ34ASD2BFHTPRD6BA           902
1  AEB3334PRZKEQMRTCM7NJUDEV6MQ           731
2  AGBHQOY26W3ABOYJ5LTFC7SYLUDQ           706
3  AH3BPETQEITQTAXKTMNSVEW6PZ3A           684
4  AHDMRZOXB2OB5PBKVP6AVDUKFLBQ           662

In [7]:
review_df[review_df['user_id'] == 'AHXNZ75VJUMZ34ASD2BFHTPRD6BA']

,rating,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
4258392,5,B0B6XVT8FL,B0B6XVT8FL,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-15 22:40:29.536,0,False
4258393,5,B0BT23STVF,B0BT23STVF,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-04 03:52:06.788,0,False
4258394,5,B0BBPLPF7R,B0BBPLPF7R,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-03-02 02:48:11.306,0,True
4258395,4,B09GLSJS56,B09GLSJS56,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-02-09 17:31:49.965,0,True
4258396,4,B08JF5K743,B08JF5K743,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2023-02-08 17:28:34.261,0,True
...,...,...,...,...,...,...,...
4260110,5,B00000IWNY,B00000IWNY,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-12-04 14:50:59.000,2,False
4260111,4,B00003ZL38,B00003ZL38,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-05-26 13:39:02.000,12,False
4260112,5,B00002067T,B00002067T,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-01-19 19:18:52.000,10,False
4260113,5,B00001T3G0,B00001T3G0,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,2000-01-19 19:00:29.000,2,False
4260114,5,B00000I5JR,B00000I5JR,AHXNZ75VJUMZ34ASD2BFHTPRD6BA,1999-06-30 12:32:27.000,6,False